<div class="card-title pages-title">
  <mat-icon aria-hidden="false" aria-label="Saved Page Icon">{{
    icon$ | async
  }}</mat-icon>
  <span *ngIf="savedPage">Page: {{ savedPage.title }}</span>
</div>
<div class="card-content" *ngIf="savedPage">
  <div
    class="card-list"
    cdkDropList
    (cdkDropListDropped)="moveSavedPageCard($event)"
  >
    <div class="card-item" cdkDrag *ngFor="let q of savedPage.queries">
      <div class="drag-handle" cdkDragHandle>
          <mat-icon>drag_handle</mat-icon>
      </div>
      <span class="item-title" matLine><mat-icon class="page_item_icon" [ngClass]="class(q)">{{ icons(q) }}</mat-icon>{{ format(q) }}</span>
      <button mat-icon-button (click)="onRemoveCard(q)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
<div class="card-actions">
  <span class="card-actions-left"> </span>
  <span class="card-actions-right">
    <button
      mat-icon-button
      [matMenuTriggerFor]="moreMenu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #moreMenu="matMenu">
      <button mat-menu-item (click)="onEditPageTitle()">
        <mat-icon>edit</mat-icon>
        <span>Edit Page Title</span>
      </button>
      <button mat-menu-item (click)="onRemovePage()">
        <mat-icon>delete</mat-icon>
        <span>Delete Saved Page</span>
      </button>
    </mat-menu>
  </span>
</div>
