﻿.pages-title {
  background-color: var(--page-color-primary);
}

.page_item_icon {
  margin-right: .8rem;
}
.card-actions {
  color: var(--page-color-primary);
}

.strongs {
  color: var(--strongs-color-primary);
}

.passage {
  color: var(--passage-color-primary);
}

.words {
  color: var(--words-color-primary);
}

.note {
  color: var(--note-color-primary);
}

.drag-handle {
  cursor: move;
  display: inline-block;
  width: 3rem;
  text-align: center;
  margin-right: 1rem;
}

.card-content {
  overflow-y: auto;
  max-height: 25rem;
  font-family: var(--card-font-family);
  font-size: var(--card-font-size);
  padding: 0.5rem;
}

.card-list {
  width: 100%;
  max-width: 100%;
  min-height: 1rem;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.card-item {
  font-family: var(--card-font-family);
  font-size: var(--card-font-size);
  border-bottom: 1px solid whitesmoke;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  box-sizing: border-box;
  background: white;
  padding-bottom: 3px;
}
.item-title {
  display: inline-block;
  width: 100%;
}

.card-item:last-child {
  border: none;
}

.card-list.cdk-drop-list-dragging .card-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
