<ng-container *ngIf="data">
  <div class="strongs-container">
  <div class="strongs-def">
    <p>
      <b>{{ data.def.tr }}</b>
      - {{ data.def.p }} - {{ data.def.lemma }} -
      <span *ngFor="let part of data.def.de"
        ><ng-template [ngIf]="part.sn"
          ><a (click)="triggerOpenStrongs(part.sn)">{{ part.sn }}</a></ng-template
        ><ng-template [ngIf]="part.w"
          ><span [innerHTML]="part.w"></span></ng-template></span
      ><br />
    </p>
    <ng-template [ngIf]="data.rmac">
      <h2>RMAC</h2>
      <b>{{ data.rmac.id }}</b>
      <br />
      <ul>
        <li *ngFor="let c of data.rmac.d">
          {{ c }}
        </li>
      </ul>
    </ng-template>
  </div>
  <div class="strongs-cross" *ngIf="data.crossrefs && data.crossrefs.ss">
    <h2>Cross References</h2>
    &nbsp;&nbsp;&nbsp;Translated as
    {{ data.crossrefs.ss.length }} word(s)
    <div [ngClass]="isCard ? 'card-strongs-crossrefs' : ''">
      <dl>
        <dd *ngFor="let wrd of data.crossrefs.ss">
          <strong>{{ wrd.w }}, {{ wrd.rs.length }}</strong
          >:
          <span *ngFor="let p of wrd.rs"
            ><a (click)="triggerOpenPassage(p.r)">{{ makePassage(p.r) }}</a
            >,
          </span>
        </dd>
      </dl>
    </div>
  </div>
</div>
</ng-container>
