<mat-toolbar>
  <mat-icon>help</mat-icon>
  <span class="title">Help</span>
  <span class="close-button">
    <button mat-icon-button mat-dialog-close aria-label="Exit the verse picker">
      <mat-icon>cancel</mat-icon>
    </button>
  </span>
</mat-toolbar>

<mat-dialog-content>
  <div class="content">
    <h3 class="paragraph-heading">How to search for a verse</h3>
      To bring up a passage, just type in a reference, or use the verse picker
      in the top right corner. Dynamic Bible will recognize most abbreviations
      of books, and can handle ranges within a book. Here are a few examples to
      get you started:

    <h3 class="paragraph-heading">Examples of Search Items:</h3>
    <ul>
      <li><b>John 1</b><br />displays whole chapter</li>
      <li><b>John 3:16</b><br />displays single verse</li>
      <li><b>Jn 3:16</b><br />handles abbreviation of John</li>
      <li>
        <b>Jn 3:16-17</b><br />displays verses starting with chapter 1 verse 3
        through chapter 1 vs 5
      </li>
      <li><b>John 3:16-4:4</b></li>
      <li><b>Jn 3-4</b><br />displays both chapters</li>
      <li><b>John 3 - John 4</b><br />displays both chapters</li>
      <li>
        <b>Jn 3:1-*</b><br />this will get all the verses in the chapter. the * char
        can be used in verse ranges, but not chapter ranges.
      </li>
      <li>
        <b>H1234</b><br />displays the strongs definition for the Hebrew # 1234
      </li>
      <li>
        <b>G1234</b><br />displays the strongs definition for the Greek # 1234
      </li>
      <li>
        <b>Jesus</b><br />searches for "Jesus". all search terms assume boolean AND,
        i.e. "Jesus Christ" assumes "Jesus AND Christ". A word without a number
        is interpreted as search term.
      </li>
    </ul>

    We currently don't support ranges that cross book boundaries. If you search
    for "John 12 - Romans 3" you will get an error. the second book name is
    ignored.

    <h3 class="paragraph-heading">Further Notes:</h3>
    <ul>
      <li>
        Multiple lookups can be made using a semicolon as a seperator, i.e.
        "Ruth 1; g1234; spirit".
      </li>
      <li>
        All greek/hebrew cross references translations are taken from the 1933
        Websters version and are sometimes not the same as the KJV translation.
      </li>
      <li>
        All source materials were taken from the
        <a href="http://sourceforge.net/projects/zefania-sharp/"
          >Zefania XML Bible Project</a
        >
        on SourceForge.
      </li>
      <li>
        Any Errors and Omission you find would be appreciated. Please contact me
        via <a href="http://www.jasonwall.org/">www.jasonwall.org</a>.
      </li>
    </ul>

    <h3 class="paragraph-heading">Visit Us Online</h3>
    <a href="http://www.dynamicbible.com">www.dynamicbible.com</a> hosts the
    online version of the web app. We are currently available on the
    <a
      href="https://bitbucket.org/walljm/dynamicbible/downloads/DynamicBible-3.1.0.zip"
      >Windows Platform</a
    >
    via the
    <a href="http://electron.atom.io/">Electron app from atom.io</a> and on the
    <a href="https://play.google.com/store/apps/details?id=walljm.dynamicbible"
      >Google Android Play store</a
    >. We are working on an IOS distribution and will be releasing that soon.

    <h3 class="paragraph-heading">Book Names and Accepted Abbreviations</h3>
    <ul>
      <li><b>Genesis</b>: gen, ge, gn</li>
      <li><b>Exodus</b>: ex, exo, exod, exd</li>
      <li><b>Leviticus</b>: lev, le, levi, lv</li>
      <li><b>Numbers</b>: num, nu, numb, number</li>
      <li><b>Deuteronomy</b>: deut, de, dt, deu</li>
      <li><b>Joshua</b>: josh, jos</li>
      <li><b>Judges</b>: jud, jdg, judg</li>
      <li><b>Ruth</b>: ru</li>
      <li><b>1 Samuel</b>: 1, i, 1st, first samuel, sa, sam, sml</li>
      <li><b>2 Samuel</b>: 2, ii, 2nd, second, sec samuel, sa, sam, sml</li>
      <li><b>1 Kings</b>: 1, i, 1st, first kings, king, kgs, kn, k, ki</li>
      <li>
        <b>2 Kings</b>: 2, ii, 2nd, second, sec kings, king, kgs, kn, k, ki
      </li>
      <li><b>1 Chronicles</b>: 1, i, 1st, first chronicles, chron, ch, chr</li>
      <li>
        <b>2 Chronicles</b>: 2, ii, 2nd, second, sec chronicles, chron, ch, chr
      </li>
      <li><b>Ezra</b>: ezr</li>
      <li><b>Nehemiah</b>: neh, ne, nehamiah</li>
      <li><b>Esther</b>: est, es, esth</li>
      <li><b>Job</b>: jo, jb</li>
      <li><b>Psalms</b>: ps, psa, psalm, psm</li>
      <li><b>Proverbs</b>: prov, pr, pro, proverb, prv, prvbs</li>
      <li><b>Ecclesiastes</b>: eccl, ecc, eccles, ec, ecl, ecclesiaste</li>
      <li>
        <b>Song of Solomon</b>: , song of songs, sos, ss, son, so, song, songs
      </li>
      <li><b>Isaiah</b>: is, isah, isai, ia</li>
      <li><b>Jerimiah</b>: jeremiah, jer, je, jere</li>
      <li><b>Lamentations</b>: lam, la, lamentation</li>
      <li><b>Ezekiel</b>: eze, ezk, ezek</li>
      <li><b>Daniel</b>: dan, dn, dl, da</li>
      <li><b>Hosea</b>: hos, ho</li>
      <li><b>Joel</b>: joe, jl</li>
      <li><b>Amos</b>: am, amo</li>
      <li><b>Obadiah</b>: oba, ob, obad</li>
      <li><b>Jonah</b>: jnh, jon</li>
      <li><b>Micah</b>: mic, mi</li>
      <li><b>Nahum</b>: nah, na</li>
      <li><b>Habakkuk</b>: hab, ha, habakuk</li>
      <li><b>Zephaniah</b>: zeph, zep</li>
      <li><b>Haggia</b>: hag, hg, haggai</li>
      <li><b>Zechariah</b>: zech, zch, zec</li>
      <li><b>Malachi</b>: mal</li>
      <li><b>Matthew</b>: mt, matt, mat</li>
      <li><b>Mark</b>: mrk, mk, mr</li>
      <li><b>luke</b>: lu, lke, luk, lk</li>
      <li><b>John</b>: jn, jhn</li>
      <li><b>Acts</b>: ac, act</li>
      <li><b>Romans</b>: rom, ro, rm, roman</li>
      <li>
        <b>1 Corinthians</b>: 1, i, 1st, first corinthian, cor, corinthians,
        corinth, corin, corth, corint
      </li>
      <li>
        <b>2 Corinthians</b>: 2, ii, 2nd, second, sec corinthian, cor,
        corinthians, corinth, corin, corth, corint
      </li>
      <li>
        <b>Galatians</b>: galatian, galations, gal, ga, gala, galation, galat
      </li>
      <li><b>Ephesians</b>: eph, ep, ephes, ephe, ephs</li>
      <li><b>Philippians</b>: phi, phil, ph, philip</li>
      <li><b>Colossians</b>: col, co, colossian, colos, coloss</li>
      <li>
        <b>1 Thessalonians</b>: 1, i, 1st, first thessalonians, the, thessa,
        thessalonian, thes, thess, th
      </li>
      <li>
        <b>2 Thessalonians</b>: 2, ii, 2nd, second, sec thessalonians, the,
        thessa, thessalonian, thes, thess, th
      </li>
      <li><b>1 Timothy</b>: 1, i, 1st, first timothy, tim, ti, timoth, tm</li>
      <li>
        <b>2 Timothy</b>: 2, ii, 2nd, second, sec timothy, tim, timoth, tm
      </li>
      <li><b>Titus</b>: tit</li>
      <li><b>Philemon</b>: phlmn, phl, phm, phile, philem</li>
      <li><b>Hebrews</b>: heb, he, hebrew</li>
      <li><b>James</b>: jam, ja, jas, jms, jame, jm</li>
      <li><b>1 Peter</b>: 1, i, 1st, first peter, pe, pet, pete, pt, p</li>
      <li>
        <b>2 Peter</b>: 2, ii, 2nd, second, sec peter, pe, pet, pete, pt, p
      </li>
      <li><b>1 John</b>: 1, i, 1st, first john, jn, jo</li>
      <li><b>2 John</b>: 2, ii, 2nd, second, sec john, jn, jo</li>
      <li><b>3 John</b>: 3, iii, 3rd, third john, jn, jo</li>
      <li><b>Jude</b>: ju</li>
      <li><b>Revelation</b>: rev, re, revelations, rv</li>
    </ul>
  </div>
</mat-dialog-content>
