.close-button {
  float: right;
}

.title {
  width: 100%;
  padding-left: 1rem;
  font-size: 1.5rem;
}

.content {
  margin-top: 12px;
  overflow-y: scroll;
  font-size: var(--card-font-size);
  font-family: var(--card-font-family);
  line-height: calc(var(--card-font-size) + 0.68rem);
  color: var(--card-color)
}

.paragraph-heading {
  font-family: var(--card-heading-font-family);
  font-weight: 600;
  margin-bottom: 1em;
  margin-top: 1em;
}
