<mat-toolbar>
  <button type="button" mat-icon-button (click)="navService.toggleNav()">
    <mat-icon md-48 aria-hidden="false" aria-label="Menu Toggle">menu</mat-icon>
  </button>
  <span class="page-title">Manage Your Saved Pages</span>
</mat-toolbar>
<div class="page-content">
  <ng-container *ngIf="savedPages$ | async as pages; else nopages">
    <mat-card appearance="outlined" *ngFor="let page of pages">
      <app-saved-page-card [savedPage]="page"></app-saved-page-card>
    </mat-card>
  </ng-container>
  <ng-template #nopages>
    <span>&nbsp;</span>
  </ng-template>
</div>
