
/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card {
  max-width: 800px;
  margin: 1.5rem auto;
  padding: 0;
}

.page-title {
  width: 100%;
  position: relative;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}

.page-content {
  padding: 0 1rem 0 1rem;
  overflow-y: scroll;
  height: calc(100vh - 66px);
  margin-top: 2px;
}
