<mat-toolbar>
  <mat-icon aria-hidden="false" aria-label="Strongs Entry Icon">{{
    icon$ | async
  }}</mat-icon>
  <div class="title">{{ this.title }}</div>
  <span class="close-button">
    <button
      mat-icon-button
      mat-dialog-close
      aria-label="Exit the Strongs Modal"
    >
      <mat-icon>cancel</mat-icon>
    </button>
  </span>
</mat-toolbar>
<mat-dialog-content class="content">
  <ng-container *ngIf="(results$ | async).length > 1; let strongs">
    <mat-tab-group [(selectedIndex)]="selectedIndex">
      <mat-tab *ngFor="let card of results$ | async; index as idx">
        <ng-template mat-tab-label>{{ card.prefix }}{{ card.sn }}</ng-template>
        <app-strongs
          [data]="card"
          (openPassage)="openPassage($event)"
          (openStrongs)="openStrongs($event)"
        ></app-strongs>
      </mat-tab>
    </mat-tab-group>
  </ng-container>
  <ng-container *ngIf="(results$ | async).length === 1">
    <app-strongs
      [data]="(results$ | async)[0]"
      (openPassage)="openPassage($event)"
      (openStrongs)="openStrongs($event)"
    ></app-strongs>
  </ng-container>
</mat-dialog-content>
