﻿.close-button {
  float: right;
}

.title {
  width: 100%;
  padding-left: 1.2rem;
  font-size: 1.5rem;
}

.content {
  max-width: 800px;
  font-size: var(--card-font-size);
  font-family: var(--card-font-family);
  line-height: calc(var(--card-font-size) + 0.5rem);
  color: var(--card-color)
}

mat-toolbar {
  padding: 0px 16px 0px 16px;
  width: auto;
}
