.note-title {
  background-color: var(--note-color-primary);
}

.card-close-button {
  color: var(--note-color-accent);
}

.card-actions {
  color: var(--note-color-primary);
}

.reference {
  width: 100%;
  margin: 3px;
}


