<div class="card-title note-title">
  <mat-icon aria-hidden="false" aria-label="Note Icon">{{
    icon$ | async
  }}</mat-icon>
  <span *ngIf="this.data">{{ this.data.title }}</span>

  <ng-container *ngIf="inSearch">
    <button
      mat-icon-button
      class="card-close-button"
      aria-label="Remove the note card from the list"
      (click)="close($event)"
    >
      <mat-icon>cancel</mat-icon>
    </button></ng-container
  >
</div>
<div class="card-content" *ngIf="cardItem" #note>
  <markdown class="markdown" *ngIf="this.data">{{ this.data.content }}</markdown>
  <p class="center grey" *ngIf="cardItem && this.data.xref !== ''">&#10018;</p>
  <mat-expansion-panel *ngIf="cardItem && this.data.xref !== ''">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Cross References
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-container *ngIf="prepXref(this.data.xref) as refs">
      <div *ngFor="let ref of refs">
        <ng-container *ngIf="inSearch">
          <button
            mat-raised-button
            class="reference"
            (click)="openPassage(ref)"
          >
            {{ ref.toString() }}
          </button>
        </ng-container>

        <span *ngIf="!inSearch">{{ ref.toString() }}</span>
      </div>
    </ng-container>
  </mat-expansion-panel>
</div>
<div class="card-actions">
  <span class="card-actions-left" *ngIf="inSearch">
    <button
      mat-icon-button
      aria-label="Remove the passage card from the list"
      (click)="close($event)"
    >
      <mat-icon>cancel</mat-icon>
    </button>
  </span>
  <span class="card-actions-right">
    <button mat-icon-button aria-label="Edit the note." (click)="edit()">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button aria-label="Delete the note." (click)="delete()">
      <mat-icon>delete</mat-icon>
    </button>
    <button
      mat-icon-button
      [matMenuTriggerFor]="moreMenu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #moreMenu="matMenu">
      <button mat-menu-item (click)="copy()">
        <mat-icon>content_copy</mat-icon>
        <span>Copy Note</span>
      </button>
      <button mat-menu-item (click)="addToSavedPage()">
        <mat-icon>save</mat-icon>
        <span>Add Card to Saved Page</span>
      </button>

      <ng-container *ngIf="inSearch">
        <button mat-menu-item (click)="moveCardUp()">
          <mat-icon>arrow_upward</mat-icon>
          <span>Move Card Up</span>
        </button>
        <button mat-menu-item (click)="moveCardDown()">
          <mat-icon>arrow_downward</mat-icon>
          <span>Move Card Down</span>
        </button>
      </ng-container>
    </mat-menu>
  </span>
</div>
