<mat-toolbar>
  <mat-icon>bookmarks</mat-icon>
  <div class="title">Verse Picker</div>
  <span class="close-button">
    <button mat-icon-button mat-dialog-close aria-label="Exit the verse picker">
      <mat-icon>cancel</mat-icon>
    </button>
  </span>
</mat-toolbar>
<mat-dialog-content class="content">
  <div>
    <span *ngIf="hasBook === false">
      <h2>Old Testament</h2>
      <div>
        <span class="button-wrapper" *ngFor="let bk of this.otBooks">
          <a class="button" (click)="setBook(bk)">{{ bk.name }}</a>
        </span>
      </div>
      <h2>New Testament</h2>
      <div>
        <span class="button-wrapper" *ngFor="let bk of this.ntBooks">
          <a class="button" (click)="setBook(bk)">{{ bk.name }}</a>
        </span>
      </div>
    </span>
    <span *ngIf="hasBook === true">
      <button class="backbutton" mat-button (click)="toBooks()">
        <mat-icon>backspace</mat-icon>
        Return to Books
      </button>
      <h2>{{ book.name }}</h2>
      <div>
        <span
          class="button-wrapper"
          *ngFor="let bk of book.chapters; index as i"
          ><a class="button" (click)="setChapter(i)" *ngIf="i !== 0">{{
            i
          }}</a></span
        >
      </div>
    </span>
  </div>
</mat-dialog-content>
