.button:hover {
  background-color: var(--words-color-primary);
}

.button {
  color: #fff;
  font-size: 1em;
  padding: 0.5em;
  background-color: #1c2e4c;
  margin: 0.3em;
  text-align: center;

  cursor: pointer;
  width: 100%;
}

.button-wrapper {
  width: 33.3%;
  display: inline-flex;
}

@media screen and (max-width: 550px) and (min-width: 395px) {
  .button-wrapper {
    width: 50%;
  }
}

@media screen and (max-width: 395px) {
  .button-wrapper {
    width: 100%;
  }
}

.backbutton {
  width: 100%;
  font-size: 1.5rem;
  line-height: 1.5rem;
  padding: 1rem;
  margin: 1rem 0 1rem 0;
}

.backbutton:hover:not(.disable-hover) {
  background-color: var(--passage-color-primary);
  color: #fff;
}

h2 {
  clear: both;
  margin-top: 1rem;
}

.close-button {
  float: right;
}

.title {
  width: 100%;
  padding-left: 1rem;
  font-size: 1.5rem;
}
