<mat-toolbar>
  <mat-icon>edit</mat-icon>
  <div class="title">Edit: {{ data.title }}</div>
</mat-toolbar>
<mat-dialog-content>
  <br />
  <form [formGroup]="noteForm">
    <mat-form-field class="note-title">
      <mat-label>Title</mat-label>
      <input formControlName="title" matInput />
    </mat-form-field>
    <mat-form-field class="note-xrefs">
      <mat-label>Cross References</mat-label>
      <mat-chip-grid #chipList aria-label="Cross References">
        <mat-chip-row
          *ngFor="let ref of references"
          [removable]="removable"
          (removed)="remove(ref)"
        >
          {{ ref }}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip-row>
        <input
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event)"
        />
      </mat-chip-grid>
    </mat-form-field>

    <mat-form-field class="note-content">
      <mat-label>Content</mat-label>
      <textarea formControlName="content" matInput></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>
<div mat-dialog-actions>
  <button mat-button (click)="save()">Save</button>
  <button mat-button (click)="cancel()">Cancel</button>
</div>
