﻿.words-title {
  background-color: var(--words-color-primary);
}

.card-close-button {
  color: var(--words-color-accent);
}

.card-actions {
  color: var(--words-color-primary);
}

.card-content {
  overflow-y: auto;
  max-height: 25rem;
  font-family: var(--card-font-family);
  font-size: var(--card-font-size);
  padding: 0.5rem;
}
.passage-button-wrapper {
  width: 33.3%;
  min-width: 13rem;
  display: inline-flex;
}

.passage-button {
  padding: 0.5em;
  margin: 0.3rem;
  background-color: var(--words-color-button);
  color: #fff;
  text-align: center;
  cursor: pointer;
  width: 100%;
}
.passage-button:hover {
  background-color: var(--words-color-primary);
}

@media screen and (max-width: 687px) {
  .passage-button-wrapper {
    width: 50%;
  }
}

@media screen and (max-width: 470px) {
  .passage-button-wrapper {
    width: 100%;
  }
}
