<div class="card-title words-title">
  <mat-icon aria-hidden="false" aria-label="Word Search Entry Icon">{{
    icon$ | async
  }}</mat-icon>
  <span *ngIf="cardItem">{{ cardItem.qry }}</span>
  <button
    mat-icon-button
    class="card-close-button"
    aria-label="Remove the word search card from the list"
    (click)="close($event)"
  >
    <mat-icon>cancel</mat-icon>
  </button>
</div>
<div class="card-content" *ngIf="this.data" #words>
  <span *ngFor="let ref of this.data.refs" class="passage-button-wrapper"
    ><a class="passage-button" (click)="openPassage(ref)">{{
      makePassage(ref)
    }}</a></span
  >
</div>
<div class="card-actions">
  <span class="card-actions-left">
    <button
      mat-icon-button
      aria-label="Remove the passage card from the list"
      (click)="close($event)"
    >
      <mat-icon>cancel</mat-icon>
    </button>
  </span>
  <span class="card-actions-right">
    <button
      mat-icon-button
      [matMenuTriggerFor]="moreMenu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #moreMenu="matMenu">
      <button mat-menu-item (click)="copy()">
        <mat-icon>content_copy</mat-icon>
        <span>Copy References</span>
      </button>
      <button mat-menu-item (click)="addToSavedPage()">
        <mat-icon>save</mat-icon>
        <span>Add Card to Saved Page</span>
      </button>
      <button mat-menu-item (click)="moveCardUp()">
        <mat-icon>arrow_upward</mat-icon>
        <span>Move Card Up</span>
      </button>
      <button mat-menu-item (click)="moveCardDown()">
        <mat-icon>arrow_downward</mat-icon>
        <span>Move Card Down</span>
      </button>
    </mat-menu>
  </span>
</div>
