// Custom Theming for Angular Material
@use '@angular/material' as mat;

// Plus imports for other components in your app.
@import "./styles/app.scss";
@import "./styles/fonts.scss";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$db-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$db-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$db-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$db-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $db-primary,
      accent: $db-accent,
      warn: $db-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($db-theme);

/* You can add global styles to this file, and also import other style files */
