<mat-toolbar>
  <button type="button" mat-icon-button (click)="navService.toggleNav()">
    <mat-icon md-48 aria-hidden="false" aria-label="Menu Toggle">menu</mat-icon>
  </button>
  <div class="search-bar">
    <div class="searchbar-search-icon"></div>
    <input
      class="search-bar-input"
      type="text"
      aria-label="Search"
      placeholder="John 3:16; Jesus; G25"
      type="search"
      autocomplete="off"
      matInput
      #contentView
      #autoCompleteInput
      [formControl]="searchControl"
      [matAutocomplete]="auto"
      (keyup.enter)="searchWithTarget($event.target)"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of suggestions$ | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </div>
  <button type="button" mat-icon-button (click)="launchPicker()">
    <mat-icon md-48 aria-hidden="false" aria-label="Verse Picker"
      >bookmarks</mat-icon
    >
  </button>
  <button type="button" mat-icon-button (click)="navService.toggleSettings()">
    <mat-icon md-48 aria-hidden="false" aria-label="Settings"
      >settings</mat-icon
    >
  </button>
</mat-toolbar>
<div class="search-content">
  <ng-container *ngIf="cards$ | async as cards; else nocards">
    <mat-card appearance="outlined" *ngFor="let item of cards">
      <app-passage-card
        *ngIf="isPassage(item)"
        [cardItem]="item"
        (closeCard)="removeCard(item)"
      ></app-passage-card>
      <app-strongs-card
        *ngIf="isStrongs(item)"
        [cardItem]="item"
        (closeCard)="removeCard(item)"
      ></app-strongs-card>
      <app-words-card
        *ngIf="isWords(item)"
        [cardItem]="item"
        (closeCard)="removeCard(item)"
      ></app-words-card>
      <app-note-card
        *ngIf="isNote(item)"
        [cardItem]="item"
        (closeCard)="removeCard(item)"
      ></app-note-card>
    </mat-card>
  </ng-container>
  <ng-template #nocards>
    <span>&nbsp;</span>
  </ng-template>
</div>
