
/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card {
  max-width: 800px;
  margin: 1.5rem auto;
  padding: 0;
}

.search-bar {
  width: 100%;
  position: relative;
  margin-left: 6px;
  margin-right: 6px;
}

.search-bar-input {
  width: 100%;
  border: 0;
  padding: 6px 6px 6px 45px;
  border-radius: 0.2rem;
  height: auto;
  font-size: 1.2rem;
  font-family: "Roboto Condensed";
  line-height: 2.2rem;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.1),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  touch-action: manipulation;
}

.search-bar-input:focus {
  outline: 0;
}

.searchbar-search-icon {
  position: absolute;
  background-repeat: no-repeat;
  background-size: 20px;
  left: 12px;
  top: 12px;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20512%20512'><path%20fill='%235b5b5b'%20d='M337.509,305.372h-17.501l-6.571-5.486c20.791-25.232,33.922-57.054,33.922-93.257C347.358,127.632,283.896,64,205.135,64C127.452,64,64,127.632,64,206.629s63.452,142.628,142.225,142.628c35.011,0,67.831-13.167,92.991-34.008l6.561,5.487v17.551L415.18,448L448,415.086L337.509,305.372z%20M206.225,305.372c-54.702,0-98.463-43.887-98.463-98.743c0-54.858,43.761-98.742,98.463-98.742c54.7,0,98.462,43.884,98.462,98.742C304.687,261.485,260.925,305.372,206.225,305.372z'/></svg>");
  width: 21px;
  height: 21px;
}

.search-content {
  padding: 0 1rem 0 1rem;
  overflow-y: scroll;
  height: calc(100vh - 66px);
  margin-top: 2px;
}

mat-toolbar {
  padding-left: 9px !important;
  padding-right: 9px !important;
}
