<mat-toolbar>
  <button type="button" mat-icon-button (click)="navService.toggleNav()">
    <mat-icon md-48 aria-hidden="false" aria-label="Menu Toggle">menu</mat-icon>
  </button>
  <span class="page-title">Manage Your Notes</span>

  <button type="button" mat-icon-button (click)="addNote()">
    <mat-icon md-48 aria-hidden="false" aria-label="Create a new Note"
      >add</mat-icon
    >
  </button>
</mat-toolbar>
<div class="page-content">
  <ng-container *ngIf="notes$ | async as notes; else nonotes">
    <mat-card appearance="outlined" *ngFor="let item of notes">
      <app-note-card [cardItem]="item" [inSearch]="false"></app-note-card>
    </mat-card>
  </ng-container>
  <ng-template #nonotes>
    <span>&nbsp;</span>
  </ng-template>
</div>
