html {
  --primary-color: #333;

  --card-font-size: 12pt;
  --card-font-family: Roboto, Helvetica, Arial, sans-serif;
  --card-heading-font-family: "Roboto Condensed";
  --card-border-radius: 0.2em;
  --card-title: #fff;
  --card-color: #000;
  --card-actions-background-color: whitesmoke;

  --passage-color-primary: rgb(25, 68, 109);
  --passage-color-accent: rgb(122, 166, 206);

  --strongs-color-primary: rgb(17, 70, 29);
  --strongs-color-accent: rgb(122, 206, 143);

  --words-color-primary: rgb(0, 85, 85);
  --words-color-accent: rgb(9, 172, 172);
  --words-color-button: rgb(27, 133, 133);

  --note-color-primary: rgb(71, 1, 54);
  --note-color-accent: rgb(165, 86, 145);

  --page-color-primary: rgb(46, 42, 54);
  --page-color-accent: rgb(111, 109, 116);

  --mat-toolbar-title-text-size: 16pt !important;
  --mdc-list-list-item-label-text-size: 14pt !important;
  --mdc-icon-button-icon-size: 18pt !important;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Roboto Condensed";
  font-size: 12pt;
}

.center {
  text-align: center;
}

.grey {
  color: #777;
}

mat-icon {
  // font-size: 1.2em !important;
  // height: 30px !important;
  // width: 30px !important;
  vertical-align: text-top;
}

.card-title {
  font-size: 1.2rem;
  font-family: "Roboto Condensed";
  color: var(--card-title) !important;
  padding: 1rem;
  border-top-left-radius: var(--card-border-radius);
  border-top-right-radius: var(--card-border-radius);
  padding-right: 3.2rem;

  > mat-icon {
    vertical-align: text-top;
  }

  span {
    // line-height: 110%;
    vertical-align: text-top;
    padding-left: 1rem;
  }
}

.card-content {
  padding: 1rem;
  color: var(--card-color);
  font-size: var(--card-font-size);
  font-family: var(--card-font-family);
  line-height: calc(var(--card-font-size) + 0.68rem);
}

.card-close-button {
  position: absolute !important;
  right: 0.5rem;
  top: 0.3rem;
}

.card-actions {
  clear: both;
  width: 100%;
  height: 3rem;
  color: var(--card-color);
  background-color: var(--card-actions-background-color);
  border-bottom-left-radius: var(--card-border-radius);
  border-bottom-right-radius: var(--card-border-radius);
  padding-top: 10px;
}

.card-actions-right {
  float: right;
  margin-right: 0.5rem;
}

.card-actions-left {
  float: left;
  margin-left: 0.5rem;
}

mat-toolbar {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
}

a {
  cursor: pointer;
  border-bottom: 1px dotted #bbb;
}

.full-width {
  width: 100%;
}

.mat-h1,
.mat-headline-5,
.mat-typography h1 {
  font-weight: bold !important;
  font-family: var(--card-heading-font-family) !important;
  font-size: calc(var(--card-font-size) * 2) !important;
  line-height: calc(var(--card-font-size) * 2.5) !important;
}

.mat-h2,
.mat-headline-6,
.mat-typography h2 {
  font-weight: bold !important;
  font-family: var(--card-heading-font-family) !important;
  font-size: calc(var(--card-font-size) * 1.5) !important;
  line-height: calc(var(--card-font-size) * 1.7) !important;
}

.mat-h3,
.mat-subtitle-1,
.mat-typography h3 {
  font-weight: bold !important;
  font-family: var(--card-heading-font-family) !important;
  font-size: calc(var(--card-font-size) * 1.3) !important;
  line-height: calc(var(--card-font-size) * 1.5) !important;
}

.mat-h4,
.mat-body-1,
.mat-typography h4 {
  font-weight: bold !important;
  font-family: var(--card-heading-font-family) !important;
  font-size: calc(var(--card-font-size) * 1.1) !important;
  line-height: calc(var(--card-font-size) * 1.3) !important;
}

.mat-h5,
.mat-typography h5 {
  font-weight: bold !important;
  font-family: var(--card-heading-font-family) !important;
  font-size: var(--card-font-size) !important;
  line-height: calc(var(--card-font-size)) !important;
}

.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: none !important;
  border: 1px solid #eee;
}

.full-width {
  width: 100%;
}

p {
  font-size: var(--card-font-size);
}

// overrides

/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
.mat-button-focus-overlay {
  background-color: transparent !important;
}
.mat-mdc-icon-button {
  line-height: inherit !important;
}
.mat-mdc-dialog-container {
  padding: 0 !important;
  overflow: hidden !important;
}
.mat-mdc-dialog-content {
  padding: 0 12px !important;
  margin: 0 !important;
}
.mat-mdc-dialog-title {
  margin: 0 0 2px !important;
}

.mat-mdc-dialog-actions {
  margin-bottom: 0px;
  justify-content: end;
}

@media screen and (max-width: 500px) {
  .cdk-overlay-pane {
    max-width: 95vw !important;
    max-height: 95vh !important;
  }
  .mat-mdc-dialog-content {
    max-height: 95vh !important;
  }
}
