/* fallback */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;

  src: url("../assets/fonts/material-icons.woff2") format("woff2");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: "liga";
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/merriweather-v19-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Merriweather Regular"), local("Merriweather-Regular"),
    url("../assets/fonts/merriweather-v19-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/fonts/merriweather-v19-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../assets/fonts/merriweather-v19-latin-regular.woff") format("woff"),
    /* Modern Browsers */
      url("../assets/fonts/merriweather-v19-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/merriweather-v19-latin-regular.svg#Merriweather")
      format("svg");
  /* Legacy iOS */
}

/* pt-sans-regular - latin */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/pt-sans-v9-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("PT Sans"), local("PTSans-Regular"),
    url("../assets/fonts/pt-sans-v9-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/fonts/pt-sans-v9-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../assets/fonts/pt-sans-v9-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../assets/fonts/pt-sans-v9-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/pt-sans-v9-latin-regular.svg#PTSans") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/pt-serif-v9-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("PT Serif"), local("PTSerif-Regular"),
    url("../assets/fonts/pt-serif-v9-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/fonts/pt-serif-v9-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../assets/fonts/pt-serif-v9-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../assets/fonts/pt-serif-v9-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/pt-serif-v9-latin-regular.svg#PTSerif") format("svg");
  /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/open-sans-v15-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("../assets/fonts/open-sans-v15-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/fonts/open-sans-v15-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../assets/fonts/open-sans-v15-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../assets/fonts/open-sans-v15-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/open-sans-v15-latin-regular.svg#OpenSans")
      format("svg");
  /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/roboto-v18-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"),
    url("../assets/fonts/roboto-v18-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/fonts/roboto-v18-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../assets/fonts/roboto-v18-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../assets/fonts/roboto-v18-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/roboto-v18-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-500 - latin */
@font-face {
  font-family: "Roboto Bold";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/roboto-v18-latin-500.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("../assets/fonts/roboto-v18-latin-500.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/fonts/roboto-v18-latin-500.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../assets/fonts/roboto-v18-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("../assets/fonts/roboto-v18-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/roboto-v18-latin-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-condensed-regular - latin */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/roboto-condensed-v16-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Condensed"), local("RobotoCondensed-Regular"),
    url("../assets/fonts/roboto-condensed-v16-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../assets/fonts/roboto-condensed-v16-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../assets/fonts/roboto-condensed-v16-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("../assets/fonts/roboto-condensed-v16-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/roboto-condensed-v16-latin-regular.svg#RobotoCondensed")
      format("svg");
  /* Legacy iOS */
}

/* inconsolata-regular - latin */
@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/inconsolata-v16-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Inconsolata Regular"), local("Inconsolata-Regular"),
    url("../assets/fonts/inconsolata-v16-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/fonts/inconsolata-v16-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../assets/fonts/inconsolata-v16-latin-regular.woff") format("woff"),
    /* Modern Browsers */
      url("../assets/fonts/inconsolata-v16-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/inconsolata-v16-latin-regular.svg#Inconsolata")
      format("svg");
  /* Legacy iOS */
}
