<div class="card-title passage-title">
  <mat-icon aria-hidden="false" aria-label="Bible Passage Icon">{{
    icon$ | async
  }}</mat-icon>
  <span *ngIf="ref">{{ ref }}</span>
  <button
    mat-icon-button
    class="card-close-button"
    aria-label="Remove the passage card from the list"
    (click)="close($event)"
  >
    <mat-icon>cancel</mat-icon>
  </button>
</div>
<div class="card-content" *ngIf="cardItem">
  <ng-container *ngIf="displaySettings$ | async as display">
    <div class="chapter-text" *ngFor="let ch of this.data.cs" #passage>
      <h2 class="paragraph-heading">Chapter {{ ch.ch }}</h2>
      <ng-container *ngFor="let para of ch.paras">
        <h3
          class="paragraph-heading"
          *ngIf="
            display.showParagraphs &&
            display.showParagraphHeadings &&
            hasHeader(para.p)
          "
        >
          {{ para.p.h }}
        </h3>

        <p
          [ngClass]="{
            'as-inline': display.showParagraphs === false
          }"
        >
          <ng-container *ngFor="let vs of para.vss">
            <strong class="verse-number" *ngIf="display.showVerseNumbers"
              >{{ vs.v }}.</strong
            >
            <ng-container *ngFor="let w of vs.w">
              <a
                [title]="getDict(this.cardItem) + w.s"
                *ngIf="w.s !== null && w.s !== undefined"
                (click)="openStrongs(w.s, display.showStrongsAsModal)"
                >{{ w.t }}</a
              ><ng-container *ngIf="w.s === null || w.s === undefined">{{
                w.t
              }}</ng-container> </ng-container
            ><br *ngIf="display.showVersesOnNewLine" />
          </ng-container>
        </p>
      </ng-container>
    </div>
  </ng-container>
  <ng-container *ngIf="notes$ | async as notes">
    <p class="center grey" *ngIf="notes.length > 0">&#10018;</p>
    <mat-expansion-panel *ngIf="notes.length > 0">
      <mat-expansion-panel-header>
        <mat-panel-title> Note References </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let note of notes">
        <button mat-raised-button class="reference" (click)="openNote(note)">
          {{ note.title }}
        </button>
      </div>
    </mat-expansion-panel>
  </ng-container>
</div>
<div class="card-actions">
  <span class="card-actions-left">
    <button
      mat-icon-button
      aria-label="Remove the passage card from the list"
      (click)="close($event)"
    >
      <mat-icon>cancel</mat-icon>
    </button>
  </span>
  <span class="card-actions-right">
    <button
      mat-icon-button
      aria-label="Go to Previous Chapter"
      (click)="prev()"
    >
      <mat-icon>fast_rewind</mat-icon>
    </button>
    <button
      mat-icon-button
      aria-label="Expand context by 3 verses"
      (click)="expand()"
    >
      <mat-icon>settings_ethernet</mat-icon>
    </button>
    <button mat-icon-button aria-label="Go to Next Chapter" (click)="next()">
      <mat-icon>fast_forward</mat-icon>
    </button>
    <button
      mat-icon-button
      [matMenuTriggerFor]="moreMenu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #moreMenu="matMenu">
      <button mat-menu-item (click)="editReferenceModal()">
        <mat-icon>edit</mat-icon>
        <span>Edit Reference</span>
      </button>
      <button mat-menu-item (click)="copy()">
        <mat-icon>content_copy</mat-icon>
        <span>Copy Passage</span>
      </button>
      <button mat-menu-item (click)="addToSavedPage()">
        <mat-icon>save</mat-icon>
        <span>Add Card to Saved Page</span>
      </button>
      <button mat-menu-item (click)="moveCardUp()">
        <mat-icon>arrow_upward</mat-icon>
        <span>Move Card Up</span>
      </button>
      <button mat-menu-item (click)="moveCardDown()">
        <mat-icon>arrow_downward</mat-icon>
        <span>Move Card Down</span>
      </button>
    </mat-menu>
  </span>
</div>
