.passage-title {
  background-color: var(--passage-color-primary);
}

.card-close-button {
  color: var(--passage-color-accent);
}

.card-actions {
  color: var(--passage-color-primary);
}

.as-inline {
  display: inline;
}

.paragraph-heading {
  font-family: var(--card-heading-font-family);
  font-weight: 600;
}

.reference {
  width: 100%;
  margin: 3px;
}
