<mat-toolbar>Page Settings</mat-toolbar>
<mat-nav-list>
  <a mat-list-item (click)="savePage()">
    <mat-icon matListIcon color="accenovert">add</mat-icon>
    Save Results as New Page
  </a>

  <a
    mat-list-item
    (click)="updatePage(page)"
    *ngIf="currentSavedPage$ | async as page"
  >
    <mat-icon matListIcon color="accenovert">save</mat-icon>
    Update {{ page.title }} with Results
  </a>

  <a mat-list-item (click)="createNote()">
    <mat-icon matListIcon color="accenovert">note_add</mat-icon>
    Create a New Note
  </a>
  <a mat-list-item (click)="clearCurrentCard()">
    <mat-icon matListIcon color="accenovert">clear_all</mat-icon>
    Clear Cards
  </a>
</mat-nav-list>

<mat-toolbar>Search Settings</mat-toolbar>
<mat-nav-list>
  <mat-list-item>
    <mat-slide-toggle
      [checked]="this.displaySettings.clearSearchAfterQuery"
      (change)="toggleClearSearchAfterQuery($event)"
      >Clear Search Bar after Query</mat-slide-toggle
    >
  </mat-list-item>
  <mat-list-item>
    <mat-slide-toggle
      [checked]="this.displaySettings.showStrongsAsModal"
      (change)="toggleStrongsAsModal($event)"
      >Show Strongs as Modal</mat-slide-toggle
    >
  </mat-list-item>
  <mat-list-item>
    <mat-slide-toggle
      [checked]="this.displaySettings.appendCardToBottom"
      (change)="toggleAppendCardToBottom($event)"
      >Append Results Below</mat-slide-toggle
    >
  </mat-list-item>
  <mat-list-item>
    <mat-slide-toggle
      [checked]="this.displaySettings.insertCardNextToItem"
      (change)="toggleInsertCardNextToItem($event)"
      >Insert Result Next to Card</mat-slide-toggle
    >
  </mat-list-item>
  <mat-list-item>
    <mat-slide-toggle
      [checked]="this.displaySettings.syncCardsAcrossDevices"
      (change)="toggleSyncCardsAcrossDevices($event)"
      >Sync Cards Across Devices</mat-slide-toggle
    >
  </mat-list-item>
</mat-nav-list>

<mat-toolbar>Display Settings</mat-toolbar>
<mat-nav-list>
  <mat-list-item>
    <mat-slide-toggle
      [checked]="this.displaySettings.showParagraphs"
      (change)="toggleParagraphs($event)"
      >Show Paragraphs</mat-slide-toggle
    >
  </mat-list-item>
  <mat-list-item>
    <mat-slide-toggle
      [checked]="this.displaySettings.showParagraphHeadings"
      (change)="toggleParagraphHeadings($event)"
      >Show Paragraph Headings</mat-slide-toggle
    >
  </mat-list-item>
  <mat-list-item>
    <mat-slide-toggle
      [checked]="this.displaySettings.showVerseNumbers"
      (change)="toggleVerseNumbers($event)"
      >Show Verse Numbers</mat-slide-toggle
    >
  </mat-list-item>
  <mat-list-item>
    <mat-slide-toggle
      [checked]="this.displaySettings.showVersesOnNewLine"
      (change)="toggleVersesOnNewLine($event)"
      >Show Verses on New Line</mat-slide-toggle
    >
  </mat-list-item>
</mat-nav-list>

<mat-toolbar>Style Settings</mat-toolbar>
<mat-nav-list>
  <div class="setting-item">
    <div class="settings-h2">Card Font Family</div>
    <mat-form-field class="full-width">
      <mat-select
        [(value)]="cardFontFamily"
        (selectionChange)="cardFontSelected($event)"
      >
        <mat-option *ngFor="let font of fonts" [value]="font">
          {{ font }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="setting-item">
    <div class="settings-h2">Card Font Size</div>
    <mat-slider
      class="font-size-slider"
      max="24"
      min="12"
      step="2"
      thumbLabel="true"
      #ngSlider
      ><input
        matSliderThumb
        [(ngModel)]="cardFontSize"
        (valueChange)="cardFontSizeChanged($event)"
        #ngSliderThumb="matSliderThumb"
      />
    </mat-slider>
  </div>
</mat-nav-list>

<mat-toolbar>Saved Page Settings</mat-toolbar>
<mat-nav-list>
  <div class="setting-item">
    <div class="settings-h2">Passage Card Merge Strategy</div>
    <mat-form-field class="full-width">
      <mat-select
        [(value)]="cardMergeStrategy"
        (selectionChange)="pageCardMergeSettingsSelected($event)"
      >
        <mat-option
          *ngFor="let overlap of cardMergeStrategies"
          [value]="overlap"
        >
          {{ overlap }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-nav-list>

<mat-toolbar>Profile</mat-toolbar>
<mat-nav-list>
  <mat-list-item *ngIf="user$ | async as user; else showLogin">
    <button
      mat-raised-button
      aria-label="Login with Google"
      color="primary"
      class="auth-button"
      (click)="logout()"
    >
      {{ user.displayName }}&nbsp;&nbsp;
      <mat-icon>logout</mat-icon>
    </button>
  </mat-list-item>
  <ng-template #showLogin>
    <mat-list-item>
      <button
        mat-raised-button
        aria-label="Logout"
        color="accent"
        class="auth-button"
        (click)="login()"
      >
        Login with Google&nbsp;&nbsp;
        <mat-icon>login</mat-icon>
      </button>
    </mat-list-item>
  </ng-template>
</mat-nav-list>
<br /><br />
