.font-size-slider {
  width: 100%;
}
.setting-item {
  padding: 0 12px 0 12px;
}

.settings-h2 {
  font-size: 12pt;
}
.auth-button {
  width: 100%;
}

.mdc-slider__input {
  padding: 0px !important;
}
