<body>
  <mat-sidenav-container class="sidenav-container" [@.disabled]="disableAnimation">
    <mat-sidenav
      #drawer
      fixedInViewport
      mode="over"
      class="sidenav"
      id="drawer"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [opened]="false"
    >
      <mat-toolbar>Pages</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item [routerLink]="['search']"
          ><mat-icon color="accenovert">search</mat-icon> Search</a
        >

        <a mat-list-item (click)="showHelp()"
          ><mat-icon color="accenovert">help</mat-icon> Help</a
        >
      </mat-nav-list>

      <mat-toolbar>Manage</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item [routerLink]="['saved', 'admin']"
          ><mat-icon color="accenovert">all_inbox</mat-icon> Manage Saved
          Pages</a
        >

        <a mat-list-item [routerLink]="['notes', 'admin']"
          ><mat-icon color="accenovert">library_books</mat-icon> Manage Notes</a
        >
      </mat-nav-list>

      <mat-toolbar>Saved Pages</mat-toolbar>
      <mat-nav-list>
        <a
          *ngFor="let p of savedPages$ | async"
          mat-list-item
          [routerLink]="['page', p.id]"
          ><mat-icon color="accenovert">inbox</mat-icon> {{ p.title }}</a
        >
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav
      #settings
      fixedInViewport
      mode="over"
      class="sidenav"
      id="settings"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      position="end"
      [opened]="false"
    >
      <app-settings></app-settings>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</body>
