﻿.close-button {
  float: right;
}

.title {
  width: 100%;
  padding-left: 1rem;
  font-size: 1.5rem;
}

.content {
  min-width: 60vw;
  min-height: 80vh;
  max-height: 80vh;
  display: flex;
  flex-flow: column;
  align-content: flex-start;
  align-items: stretch;
}

.add-page-form {
  padding-left: 16px;
  margin-top: 2rem;
}
.page-title {
  width: calc(100% - 42px);
}
.page-list {
  overflow-y: auto;
  height: calc(80vh - 195px);
}
.mat-mdc-dialog-content {
  padding: 0 !important;
}
