<mat-toolbar>
  <mat-icon>save</mat-icon>
  <div class="title">Add Card to Saved Page</div>
</mat-toolbar>
<mat-dialog-content class="content">
  <div class="page-list">
    <mat-selection-list #pageList>
      <mat-list-option
        *ngFor="let page of this.pages$ | async"
        [value]="page"
        [checkboxPosition]="'before'"
      >
        {{ page.title }}
      </mat-list-option>

      <mat-divider></mat-divider>
    </mat-selection-list>
  </div>
  <form [formGroup]="form" class="add-page-form">
    <h4>Or create a New Page</h4>
    <mat-form-field class="page-title">
      <mat-label>Title</mat-label>
      <input formControlName="title" matInput /> </mat-form-field
    ><button
      class="page-add-button"
      mat-icon-button
      [disableRipple]="true"
      (click)="addPage()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </form>
  <div mat-dialog-actions>
    <button mat-button (click)="save()">Save</button>
    <button mat-button (click)="cancel()">Cancel</button>
  </div>
</mat-dialog-content>
