﻿.close-button {
  float: right;
}

.title {
  width: 100%;
  padding-left: 1rem;
  font-size: 1.5rem;
}

.mat-mdc-form-field {
  display: block;
}

.note-content {
  min-width: 75vw;

  textarea {
    min-height: 15rem;
  }
}
