﻿.close-button {
  float: right;
}

.title {
  width: 100%;
  padding-left: 1rem;
  font-size: 1.5rem;
  overflow: hidden;
}

.mat-mdc-form-field {
  display: block;
}

.page-title {
  min-width: 50vw;
  padding-top: 12px;
}

.mat-mdc-dialog-content {
  min-width: 60vw;
  min-height: 20vh;
  max-height: 80vh;
}
