<mat-toolbar>
  <mat-icon>save</mat-icon>
</mat-toolbar>
<mat-dialog-content class="content">
  <form [formGroup]="form">
    <mat-form-field class="page-title">
      <mat-label>Query</mat-label>
      <input formControlName="qry" matInput />
    </mat-form-field>
  </form>

  <div mat-dialog-actions>
    <button mat-button (click)="save()">Save</button>
    <button mat-button (click)="cancel()">Cancel</button>
  </div>
</mat-dialog-content>
